body {
    padding: 0; margin: 0;
    background-image: "https://c.tenor.com/DnpJz0JZo9MAAAAC/gandalf.gif";
  }
  div.bg {
    position: fixed; width: 100%; height: 100%; background: url("dragon_sw.jpg") no-repeat; background-size: cover; z-index:-1;
  }
  div.fg {
    width: 80%; margin: auto; font-family: "Smythe";
  }
  table {
    width: 100%; border-collapse: separate; border-spacing: 6px; font-size: 24px;
  }
  td, th {
    width: 50%; padding: 6px; text-align: center; border: 1px solid black; background-color: #eee8;
  }
  tr.head {
    padding: 12px; color: white; text-align: center;
  }
  tr.head th {
    background-color: black;
  }
  span {
    padding: 0 6px; float: right;
  }